@using HorsesForCourses.Core
@using HorsesForCourses.Service

@model PagedResult<CourseDTO>

@{
    ViewData["Title"] = "All Courses";
}

<h1>All Courses</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Stardate</th>
            <th>Enddate</th>
            <th>Competencies</th>
            <th>Timeslots</th>
            <th>Assigned Coach</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model?.Items ?? Enumerable.Empty<CourseDTO>())
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Name</td>
                <td>@course.Start</td>
                <td>@course.End</td>
                <td>@string.Join(", ", course.Competenties ?? Enumerable.Empty<string>())</td>
                <td>
                    <ul>
                        @foreach (var slot in course.TimeSlots ?? Enumerable.Empty<TimeSlotDTO>())
                        {
                            <li>@slot.Day : @slot.Start -> @slot.End</li>
                        }
                    </ul>
                </td>
                <td>@(course.Coach?.Name ?? "none")</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Courses" asp-action="GetById"
                        asp-route-id="@course.Id">GetById</a>

                    @if (course.Status != States.FINALISED)
                    {
                        <a class="btn btn-primary" asp-controller="Courses" asp-action="EditMenu"
                            asp-route-id="@course.Id">Edit</a>
                    }

                    @if (course.Status == States.PENDING)
                    {
                        @if ((course.Competenties?.Any() ?? false) && (course.TimeSlots?.Any() ?? false))
                        {
                            <form asp-action="Confirm" asp-route-id="@course.Id" method="post" style="display:inline;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-success">Confirm</button>
                            </form>
                        }
                    }

                    else if (course.Status == States.CONFIRMED)
                    {
                        <a class="btn btn-success" asp-controller="Courses" asp-action="AddCoachMenu"
                            asp-route-id="@course.Id">Add Coach</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>